.backcolorgreen {
	background-color:#00ff45; 
}
.backColorBlue {
	background-color:#1akfff;
}
.center {
	text-align: center;
}
h3 {
	font-size: 56px;
 	}
h1 {
	font-size:100px;
}
.backcolryellow{
	background-color:#ffff99;
}
.backcolorpink {
	background-color:#ff99999; 
} 
p.a {
	font-style: initial; 
}